.contactList {
  color: rgb(60, 60, 61);
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 10px;
  /* border-bottom: 2px solid rgb(0, 0, 0); */
}
.contactItem {
  font-size: 20px;
  font-weight: bold;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid#1976d2;
}

.contactItem:last-child {
  border-bottom: 0px;
}

.contactButton {
  width: auto;
  font-size: 18px;
  padding: 5px 20px;
  border: 1px solid rgb(25, 25, 25);
  cursor: pointer;
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contactButton:hover {
  background-color: rgb(167, 167, 167);
}
.form__title {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form__contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 2px solid #1976d2;
  border-bottom: 1.5px solid #1976d2;
}
